<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Gender</th>
      <th>Promo Type</th>
      <th>Group Type</th>
      <th>Duration</th>
    </tr>
  </thead>
  <tbody>
    {{#each breakdown}}
      <tr>
        <td>{{email}}</td>
        <td>{{gender}}</td>
        <td>{{promoType}}</td>
        <td>{{groupType}}</td>
        <td>{{duration}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
