<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Training Type</th>     
      <th>Session Count</th>
      <th>Buyer</th>
      <th>Coach Type</th>
      <th>Amount</th>
      <th>Paid At</th>
    </tr>
  </thead>
  <tbody>
    {{#each data}}
      <tr>
        <td>{{email}}</td>
        <td>{{trainingType}}</td>
        <td>{{sessionCount}}</td>
        <td>{{buyer}}</td>
        <td>{{coachtype}}</td>
        <td>{{amount}}</td>
        <td>{{extractDate paid}}</td>
      </tr>
    {{/each}}
  </tbody>
</table> 