<div class="flex space-x-1">           
    
    {{#if additionalInfo.cashback50}}
        <button 
            class="px-2 py-1 text-xs font-medium text-white hover:text-blue-900 bg-blue-500 rounded-l hover:bg-blue-100 transition-colors"
            hx-post="/fo/orders/{{referenceId}}/cashback50/false"
            hx-confirm="Are you sure you want to cancel Rp. 50.000 cashback?"   
            hx-target="#buttons-{{referenceId}}"
            hx-swap="innerHTML"
        >
            &check; 50K Cashback
        </button>
    {{else}}
        <button 
            class="px-2 py-1 text-xs font-medium text-blue-900 hover:text-white bg-blue-100 rounded-r hover:bg-blue-500 transition-colors"
            hx-post="/fo/orders/{{referenceId}}/cashback50/true"
            hx-confirm="Are you sure you want to give Rp. 50.000 cashback?"
            hx-target="#buttons-{{referenceId}}"
            hx-swap="innerHTML"
        >
            50K Cashback
        </button>
    {{/if}}
                             
    {{#if additionalInfo.cashback100}}
        <button 
            class="px-2 py-1 text-xs font-medium text-white hover:text-blue-900 bg-blue-500 rounded-l hover:bg-blue-100 transition-colors"
            hx-post="/fo/orders/{{referenceId}}/cashback100/false"
            hx-confirm="Are you sure you want to cancel Rp. 100.000 cashback?"
            hx-target="#buttons-{{referenceId}}"
            hx-swap="innerHTML"
        >
            &check; 100K Cashback
        </button>
    {{/if}}
    {{#unless additionalInfo.cashback100}}
        <button 
            class="px-2 py-1 text-xs font-medium text-blue-900 hover:text-white bg-blue-100 rounded-r hover:bg-blue-500 transition-colors"
            hx-post="/fo/orders/{{referenceId}}/cashback100/true"
            hx-confirm="Are you sure you want to give Rp. 100.000 cashback?"
            hx-target="#buttons-{{referenceId}}"
            hx-swap="innerHTML"
        >
            100K Cashback
        </button>
    {{/unless}}
    {{#if additionalInfo.cashback200}}
        <button 
            class="px-2 py-1 text-xs font-medium text-white hover:text-blue-900 bg-blue-500 rounded-l hover:bg-blue-100 transition-colors"
            hx-post="/fo/orders/{{referenceId}}/cashback200/false"
            hx-confirm="Are you sure you want to cancel Rp. 200.000 cashback??"
            hx-target="#buttons-{{referenceId}}"
            hx-swap="innerHTML"
        >
                &check; 200K Cashback
        </button>
    {{/if}}
    {{#unless additionalInfo.cashback200}}
        <button 
            class="px-2 py-1 text-xs font-medium text-blue-900 hover:text-white bg-blue-100 rounded-r hover:bg-blue-500 transition-colors"
            hx-post="/fo/orders/{{referenceId}}/cashback200/true"
            hx-confirm="Are you sure you want to give Rp. 200.000 cashback?"
            hx-target="#buttons-{{referenceId}}"
            hx-swap="innerHTML"
        >
            200K Cashback
        </button>
    {{/unless}}
</div>
<div class="flex space-x-1">

    {{#if additionalInfo.extend15}}
        <button 
            class="px-2 py-1 text-xs font-medium text-white hover:text-green-900 bg-green-600 rounded-r hover:bg-green-100 transition-colors"
            hx-post="/fo/orders/{{referenceId}}/extend15/false"
            hx-confirm="Are you sure you want to cancel extend membership for 15 days?"
            hx-target="#buttons-{{referenceId}}"
            hx-swap="innerHTML" 
        >
            &check; +15 Days
        </button>
    {{else}}
        <button 
            class="px-2 py-1 text-xs font-medium text-green-900 hover:text-white bg-green-100 rounded-l hover:bg-green-600 transition-colors"
            hx-post="/fo/orders/{{referenceId}}/extend15/true"
            hx-confirm="Are you sure you want to turn on extend membership for 15 days?"
            hx-target="#buttons-{{referenceId}}"
            hx-swap="innerHTML"
        >
            +15 Days
        </button>
    {{/if}}

    {{#if additionalInfo.extend30}}
        <button 
            class="px-2 py-1 text-xs font-medium text-white hover:text-green-900 bg-green-600 rounded-r hover:bg-green-100 transition-colors"
            hx-post="/fo/orders/{{referenceId}}/extend30/false"
            hx-confirm="Are you sure you want to cancel extend membership for 30 days?"
            hx-target="#buttons-{{referenceId}}"
        >
            &check; +30 Days
        </button>
    {{/if}}
    {{#unless additionalInfo.extend30}}
        <button 
            class="px-2 py-1 text-xs font-medium text-green-900 hover:text-white bg-green-100 rounded-l hover:bg-green-600 transition-colors"
            hx-post="/fo/orders/{{referenceId}}/extend30/true"
            hx-confirm="Are you sure you want to turn on extend membership for 30 days?"
            hx-target="#buttons-{{referenceId}}"
            hx-swap="innerHTML"
        >
            +30 Days
        </button>
    {{/unless}}
    {{#if additionalInfo.extend60}}
        <button 
            class="px-2 py-1 text-xs font-medium text-white hover:text-green-900 bg-green-600 rounded-r hover:bg-green-700 transition-colors"
            hx-post="/fo/orders/{{referenceId}}/extend60/false"
            hx-confirm="Are you sure you want to cancel extend membership for 60 days?"
            hx-target="#buttons-{{referenceId}}"
            hx-swap="innerHTML"
        >
            &check; +60 Days
        </button>
    {{/if}}
    {{#unless additionalInfo.extend60}}
        <button 
            class="px-2 py-1 text-xs font-medium text-green-900 hover:text-white bg-green-100 rounded-l hover:bg-green-600 transition-colors"
            hx-post="/fo/orders/{{referenceId}}/extend60/true"
            hx-confirm="Are you sure you want to turn on extend membership for 60 days?"
            hx-target="#buttons-{{referenceId}}"
            hx-swap="innerHTML"
        >
            +60 Days
        </button>
    {{/unless}}
</div>